$solid-background-color: #000000c7;
$liquid-background-color: #003a86;
$gas-background-color: #800000;
$unknown-background-color: #463b00;
$gas-color: #af0000;
$liquid-color: #0f63ff;
$solid-color: rgb(0, 0, 0);
$unknown-color: #645200;
$border-color: #CCC;
$thick-border-color: #d80000;
$gray: #D3D3D3;
$heading-color:#053a00;
